@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DESENVOLVIMENTO!</h1>
    <p>Cadastro online PRIMO MÓVEIS</p>
    <div>
        <img src="/img/construction.png" />
    </div>
</div>
