@model ClienteModel
@{
    ViewData["title"] = "Cadastrar Cliente";
}

<div class="container bg-light">
    <h2>Cadestre de cliente</h2>
    <form class="row g-3" method="post" asp-controller="Cliente" asp-action="Cadastrar">
        </br>
        <div class="col-md-12">
            <label for="inputName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputName" placeholder="Nome completo" asp-for="Name">
        </div>
        
        <div class="col-6">
            <label for="inputCPF" class="form-label">CPF</label>
            <input type="text" class="form-control" id="inputCPF" placeholder="Apenas números..." asp-for="Cpf">
        </div>
        <div class="col-6">
            <label for="inputCNPJ" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="inputCNPJ" placeholder="Apenas números..." asp-for="Cnpj">
        </div>

        <div class="col-6">
            <label for="inputTelefone1" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="inputTelefone1" placeholder="" asp-for="NumTelefone1">
        </div>
        <div class="col-6">
            <label for="inputTelefone2" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="inputTelefone2" placeholder=""asp-for="NumTelefone2">
        </div>

        <div class="col-12">
            <label for="inputEmail" class="font-weight-bold">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" asp-for="Email">
        </div>

        <div class="mt-5 text-center">
            <button type="submit" class="btn btn-success">Adicionar</button>
            &emsp;
            <a class="btn btn-danger" asp-controller="Cliente" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>