@model ClienteModel
@{
    ViewData["title"] = "Editar Cliente";
}


@*<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tabCliente" type="button" role="tab" aria-controls="tab1" aria-selected="true">Cliente</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tabOrcamento" type="button" role="tab" aria-controls="tab2" aria-selected="false">Orçamento</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tabPedido" type="button" role="tab" aria-controls="tab3" aria-selected="false">Pedido</button>
    </li>
</ul>
*@
<br />

<div class="tab-content">

    @*<div class="tab-pane fade show active" id="tabCliente" role="tabpanel" aria-labelledby="tab1-tab">*@

        <form class="bg-light p-4 rounded shadow-sm" asp-controller="Cliente" asp-action="Editar">

            <h5 class="text-left mb-4">Alterar cadastro de @Model.Name!</h5>

            <div class="input-group">
                <div class="col-md-10 mb-3">
                    <div>
                        <label for="Nome">Nome</label>
                        <input id="Nome" asp-for="Name" placeholder="Digite o nome..." class="form-control" type="text">
                    </div>
                </div>

                <div class="col-md-3">
                    <div>
                        <label class="form-label" for="cpf">CPF</label>
                        <input id="cpf" oninput="mascaraCpf(this)" asp-for="Cpf" placeholder="000.000.000-00" class="form-control" type="text">
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="col-md-3 mb-3">
                    <div>
                        <label class="form-label" for="cnpj">CNPJ</label>
                        <input id="cnpj" oninput="mascaraCnpj(this)" asp-for="Cnpj" placeholder="00.000.000/0000-00" class="form-control" type="text">
                    </div>
                </div>

                <div class="col-md-10 mb-3">
                    <label class="form-label" for="prependedtext">E-mai</label>
                    <div>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="prependedtext" asp-for="Email" class="form-control" placeholder="email@email.com" type="email">
                    </div>
                </div>

                <div class="col-md-3">
                    <div>
                        <label class="form-label" for="telefone1">Telefone</label>
                        <span class="input-group text"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input id="telefone1" onkeyup="mascaraFone1(event)" asp-for="NumTelefone1" class="form-control" placeholder="XX XXXXX-XXXX" type="text">
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <div class="col-md-3">
                    <div>
                        <label class="form-label" for="telefone2">Telefone</label>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input id="telefone2" onkeyup="mascaraFone2(event)" asp-for="NumTelefone2" class="form-control mb-5" placeholder="XX XXXXX-XXXX" type="text" maxlength="14">
                    </div>
                </div>

                <div class="input-group">

                    <!--Endereço-->
                    <h5 class="text-left mb-4">Endereço</h5>

                    <div class="input-group flex-nowrap mb-4">
                        <label class="input-group-text" for="cep">CEP</label>
                        <div class="col-2">
                            <input id="cep" oninput="mascaraCep(this)" asp-for="Cep" placeholder="00000-000" class="form-control" value="" type="search">
                        </div>

                        &nbsp;&nbsp;

                        <div>
                            <button type="button" class="btn btn-primary" onclick="pesquisacep(cep.value)">Pesquisar</button>
                        </div>
                    </div>

                    <div class="input-group flex-nowrap mb-4">
                        <label class="input-group-text" for="rua">Rua</label>
                        <div class="col-4">
                            <input id="rua" asp-for="Rua" class="form-control" placeholder="" readonly="readonly" type="text">
                        </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <label class="input-group-text" for="numero">N°</label>
                        <div class="col-1">
                            <input id="numero" asp-for="Numero" class="form-control" placeholder="" type="text">
                        </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <span class="input-group-text" for="bairro">Bairro</span>
                        <div class="col-2">
                            <input id="bairro" asp-for="Bairro" class="form-control" placeholder="" readonly="readonly" type="text">
                        </div>
                    </div>

                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" for="cidade">Cidade</span>
                        <div class="col-4">
                            <input id="cidade" asp-for="Cidade" class="form-control" placeholder="" readonly="readonly" type="text">
                        </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <span class="input-group-text" for="estado">Estado</span>
                        <div class="col-1">
                            <input id="estado" asp-for="Estado" class="form-control" placeholder="" readonly="readonly" type="text">
                        </div>
                    </div>

                </div>

            </div>

            <br />

            <div class="col-md-8 mb-3">
                <button id="Cadastrar" class="btn btn-success" type="Submit">Editar</button>
                <a class="btn btn-danger" asp-controller="Cliente" asp-action="Index">Cancelar</a>
            </div>

        </form>
    @*</div>*@

    <div class="tab-pane fade" id="tabOrcamento" role="tabpanel" aria-labelledby="tab2-tab">
        <form class="row">
            <p>Conteúdo da Tab 2</p>
        </form>
    </div>

    <div class="tab-pane fade" id="tabPedido" role="tabpanel" aria-labelledby="tab3-tab">
        <p>Conteúdo da Tab 3</p>
    </div>

</div>











